# Boolean LP dinner problem
planning dinner with 2 more couples turned out to be a `boolean linear program` problem

In [16]:
import numpy as np
import cvxpy as cvx
import pandas as pd

number_of_households = 3
food_dict = {"meat":100, "wine1":40, "first_meal":45,"dessert":50,"side_dish":30, 'soup':22,"wine2":40}
food_cost = pd.DataFrame(list(food_dict.values()),index=food_dict.keys(), columns=["price $"])
food_cost

            price $
meat            100
wine1            40
first_meal       45
dessert          50
side_dish        30
soup             22
wine2            40

In [19]:
C = np.array(food_cost["price $"]) # food costs
A = cvx.Variable(shape=(C.shape[0],number_of_households), boolean =True) # 
constraints = [A * np.ones((number_of_households,1)) == 1
               , A <=1
               , A >= 0]
obj = cvx.Minimize(cvx.sum_squares(C * A))
prob = cvx.Problem(obj, constraints)
prob.solve()
assignment = pd.DataFrame(np.abs(np.round(A.value))
                      ,columns=["household 1","household 2","household 3"], index=food_cost.index)
assignment.append(pd.DataFrame({"total expenses":(C[:,None]*A.value).sum(axis=0)},index=assignment.columns).T)

                household 1  household 2  household 3
meat                    0.0          0.0     1.000000
wine1                   0.0          1.0     0.000000
first_meal              0.0          1.0     0.000000
dessert                 1.0          0.0     0.000000
side_dish               0.0          1.0     0.000000
soup                    1.0          0.0     0.000000
wine2                   1.0          0.0     0.000000
total expenses        112.0        115.0   100.000001

> total expenses with `minmax` cost where $95,100,70$